.forget-password {
    min-height: 100vh;
    background-color: var(--color-burgundy)
}

.forget-password h1 {
    font-weight: 500;
    text-align: left;
}

.forget-password-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-white);
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
}

.forget-password-fallback {
    background-color: var(--color-burgundy);
}

.forget-password-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", serif;
    width: 100%;
}

.forget-password-form form label {
    text-align: left;
    margin-bottom: 3px;
}

.forget-password-form-content {
    width: 100%;
}

.forget-password-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.forget-password-form .form-group:last-child {
    margin-top: 40px;
}

.forget-password-form input {
    background-color: var(--color-light-pink);
    border: none;
    padding: 15px 15px 15px 50px;
    border-radius: 40px;
    font-size: 22px;
    width: 100%;
}

.forget-password .btn {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    padding: 5px 15px 7px;
    border-radius: 15px;
    width: 100%;
}

.forget-password-form a {
    color: var(--color-blue);
    text-align: right;
    margin-left: 10px;
}

.forget-password-fallback {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.forget-password-logo {
    display: block;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

.forget-password-fallback a img {
    width: 150px;
}

.forget-password-fallback-content h2 {
    color: var(--color-white);
    margin-bottom: 40px;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}